<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Vue me</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <ul>
                <li v-for="dude in characters">
                    {{ dude }}

                    <small v-if="dude.split(' ').length < 3">
                       <em> lol, short name </em>
                    </small>
                </li>
            </ul>
            
            <form class="AddNew" @submit.prevent="add">
                <input type="text" v-model="dude1">
            </form>

            <p class="preview">
                {{ dude1 }}
            </p>
        </div>

        <script src="index.js"></script>
    </body>
</html>